@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
@import "./variables.scss";
@import "./mixins.scss";

/*************
Basic styles
****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
.container {
  width: 75%;
  margin: 0 auto;
}
.active {
  transform: translateX(100%);
}

/*************
Header
****************/
header {
  position: relative;
  height: 100vh;

  nav {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: white;
    background: $secondary;
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        text-shadow: 1px 1px 10px $white;
        transition: $transition;
        cursor: pointer;
      }
    }
  }
  .video {
    transform: translateX(50%) translateY(50%);
    bottom: 50%;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    right: 50%;
    width: 100%;
    // overflow: hidden;
    &::before {
      content: "";
      background: linear-gradient(to right, rgba($primary, 0.5), rgba($secondary, 0.5));
      width: 100%;
      height: 100vh;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
    video {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
  }
  .content {
    position: absolute;
    z-index: 10000;
    color: white;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-weight: 300;
      font-size: 4em;
      letter-spacing: 7px;
      margin-bottom: 30px;
    }
    p {
      text-align: center;
      font-size: 1.3em;
    }
  }
}
/**************
Menu
**************/
.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  width: 200px;
  height: 100%;
  background: $secondary;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: 0.6s ease all;
  // justify-content: center;
  align-items: center;
  .close {
    position: absolute;
    color: $white;
    top: 20px;
    right: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      transition: $transition;
      transform: scale(1.1);
    }
  }
  ul {
    list-style: none;
    margin-top: 50px;
    li {
      font-weight: 600;
      padding: 30px 0;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-bottom: 5px;
      &::after {
        content: "";
        display: block;
        height: 1.5px;
        width: 100%;
        background: $white;
        margin-top: 5px;
      }
      &:hover {
        text-shadow: 1px 1px 10px $white;
        transition: $transition;
        cursor: pointer;
      }
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
  .icons {
    margin-left: 10px;
    position: absolute;
    bottom: 20px;
    a {
      color: $white;
      i {
        font-size: 2.4rem;
        margin-right: 10px;
        &:hover {
          color: $primary;
          transition: $transition;
        }
      }
    }
  }
}
/**************
technologies
**************/
.technologies {
  background-color: $lightGray;
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  h2 {
    @include headings();
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    article {
      flex: 0 0 31%;
      padding: 20px 15px;
      text-align: center;
      box-shadow: 1px 1px 5px $secondary;
      margin-bottom: 20px;
      margin-top: 20px;
      // background: $white;
      height: 250px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 8px;
      h3 {
        color: $secondary;
        font-size: 1.3em;
        margin: 15px 0;
      }
      p {
        color: $secondary;
        text-align: justify;
      }
      i {
        font-size: 4.5rem;
        color: $primary;
      }
      &:hover {
        box-shadow: 2px 2px 10px $secondary;
        transition: $transition;
      }
    }
  }
}
/**************
about
**************/
.about {
  background: linear-gradient(to right, rgba($primary, 0.5), rgba($secondary, 0.5)), url(../img/traffic.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-attachment: fixed;
  h3 {
    font-size: 3.3rem;
    font-weight: 300;
    margin: 15px 0;
    color: $white;
  }
  p {
    color: $white;
    font-size: 1.2rem;
    margin-top: 40px;
  }
}
/**************
counter
**************/
.counter {
  background: $lightGray;
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: $lightGray;
    border-radius: 10px;
    height: 150px;
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    padding: 35px 50px;
    box-shadow: 1px 1px 10px $secondary;
    h3 {
      color: $primary;
      font-size: 2rem;
      font-weight: 700;
    }
    p {
      font-weight: 700;
      margin-top: 10px;
      color: $secondary;
      font-size: 1.8rem;
    }
  }
}
/**************
team
**************/
.team {
  background: $lightGray;
  padding: 120px 0;
  h2 {
    @include headings();
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    article {
      position: relative;
      margin-top: 50px;
      flex: 0 0 31%;
      background: $white;
      text-align: center;
      box-shadow: 1px 1px 5px $secondary;
      border-radius: 8px;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        border: 6px solid $white;
        box-shadow: 1px 1px 10px $secondary;
      }
      h3 {
        margin-top: 70px;
        color: $primary;
        font-size: 1.8rem;
      }
      small {
        color: $primary;
      }
      p {
        margin: 30px 0;
        color: $secondary;
      }
      &:hover {
        box-shadow: 1px 1px 10px $secondary;
        transition: $transition;
        img {
          box-shadow: 1px 1px 20px $secondary;
          transition: $transition;
        }
      }
    }
  }
}
/**************
footer
**************/
footer {
  background: $secondary;
  color: $white;
  padding: 20px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hours {
      h3 {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
    }
    p {
      margin-top: 5px;
    }
    .icons {
      h3 {
        font-size: 1.5rem;
        margin-top: 5px;
        margin-bottom: 20px;
      }
      a {
        color: $white;
        i {
          font-size: 2.4rem;
          margin-right: 10px;
          &:hover {
            color: $primary;
            transition: $transition;
          }
        }
      }
    }
  }
}
